<div class="modal-header">
    <h3 class="modal-title">Upload File</h3>
</div>
<div class="modal-body">
    <div class="modal-create-user">
        <div class="form-group row">
            <p>UPLOAD A PDF OR JPG FILE FROM YOUR COMPUTER.</p>
            <input type="file" class="form-control" id="file" ng-model="data.file">
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="done()">DONE</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>