<div class="wrapper wrapper-content animated fadeInRight">
    <div class="form-group white-bg col-lg-12 admin-title">
        <span style="font-size: 20px;">Power User ID: {{loggedInUser.identifier}}</span>
    </div>

    <div class="col-lg-12 white-bg table-container">
        <!-- <p style="display:table;"> -->
        <form class="form-inline">
            <div class="form-group">
                <span style="font-size: 16px;">Company Members</span>
            </div>
        </form>
        <div class="table-responsive">
            <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="table table-striped table-bordered">
                
            </table>
        </div>
    </div>
</div>